<h1 class="text-center">My Tasks</h1>

<div class="container p-3">
    <ul class="list-group text-center">
        <% @task.each do |task| %>
            <li class="list-group-item">
            <h3>
            <%= link_to task.title, task_path(task), class: "badge badge-secondary" %>
            </h3>
                <% if task.completed %>
                    <p>Status: ✔️</p>
                <% else %>
                    <p>Status: ❌</p>
                <% end %>
                <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: "Confirm?" }, class: 'btn btn-outline-danger' %>
            </li>
            <% end %>
    </ul>
<%= link_to 'Add new task', new_task_path, class: 'btn btn-primary btn-lg btn-block ' %>
</div>
